{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/new_devices" method="POST">
    <input type="text" name="fullname" placeholder="Name">
    <input type="text" name="hostname" placeholder="Hostname">
    <input type="text" name="company" placeholder="Company">
    <input type="text" name="type" placeholder="Type">
    <input type="text" name="cores" placeholder="Cores">
    <input type="text" name="ram" placeholder="Ram">
    <input type="text" name="storage" placeholder="Storage">
    <input type="text" name="server" placeholder="Server">
    <input type="text" name="os" placeholder="OS">
    <button type="submit">Save</button>
</form>